/* GENERAL */

body {
  font-size: 17px !important;
  line-height: 30px !important;
}

h1{
    font-size: 70px !important;
    letter-spacing: -4px;
    text-align: center;
    font-weight: 800 !important;
    line-height: 75px !important;
}

/*NAVIGATION*/

.nav-container{
    margin-bottom: 40px;
}
.navbar-brand{
    background-color: #1e1e1e;
    color: #fff !important;
    padding: 6px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
}

.main-nav{
    font-weight: 600;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.main-nav li{
    margin: 0 15px;
}

.nav-header{
    margin-left: 15px;
}

/*HOMEPAGE*/

.homepage-title{
    margin-bottom: 80px;
}

.homepage-title h1{
    margin-bottom: -20px !important;
}

.homepage-title h4{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 35px;
}

.buttons-home{
    text-align: center;
    margin-bottom: 40px;
}

.homepage-images{
    text-align: center;
}

.homepage-images img{
    width: 24%;
}

.homepage-image-1{
    transform: rotate(15deg);
}

.homepage-image-2{
    transform: rotate(-6deg);
}

.homepage-image-3{
    transform: rotate(8deg);
}

.homepage-image-4{
    transform: rotate(-11deg);
}



.homepage-band{
    background-color: #1e1e1e;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
}

.homepage-band h2{ 
    color: #FFF 
}





/*



.login-button{
    margin-left: 10px;
}

.rightalign{
    justify-content: flex-end;

}

.col-left{
    padding-left: 0px !important;
}

.badge-light{
  color: #FFFFFF !important;
  background-color: #1E1E1E33;
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 50px;
}

.nolinkdecoration{
    text-decoration: none;
}

.errormessageform{
    display: table;
}

.alignright{
    margin-left: auto; 
    margin-right: 0;
    display: table;
}

.guesttable{
    vertical-align: bottom;
    padding: 10px;
}*/