{% extends "base.html" %}

{% block content %}
    <div class="title">
        <h1>Internal Server error</h1>
        <h4>Something went wrong...</h4> 
    </h4>
    </div>
    <div class="container text-center"> 
        <img src="/static/500.png" width="400px"><br><br>
        If you want to be extra nice, drop us an email telling us what you were trying to do.<br>
        This will help us fix the issue. 🙏
        <p><a href="{{ url_for('index') }}">Back to homepage</a></p>
    </div>  
{% endblock %}
