<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.section }}</td>
    {% if user.verified == 'yes' %}
    <td>{{ user.email }}</td>
    {% else %}
    <td>{{ user.email }} <a href="{{ url_for('toggleverify', userid=user.id) }}"><span class="badge rounded-pill bg-danger">not verified</span></a></td>
    {% endif%}
    <td>{{ user.currentlocation }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.rsvp }}</td>
        <td class="aligniconsright"><a class="nolinkdecoration" href="{{ url_for('user', userid = user.id) }}">✏️</a> | <a class="nolinkdecoration" href="{{ url_for('toggleadmin', userid = user.id) }}">👔</a> | <a class="nolinkdecoration" href="{{ url_for('delete_user', userid=user.id) }}">🗑️</a></td>
</tr>
