{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>Share your social links</h1>
    <h4>Make it easy for people to find you.</h4>
</div>

<div class="social-form">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="socialinput">
            {{ form.facebook(size=10, class_='form-control', placeholder="Link to your Facebook profile") }}

        </div>

        <div class="socialinput">
            {{ form.twitter(size=10, class_='form-control', placeholder="Link to your Twitter profile") }}

        </div>

        <div class="socialinput">
            {{ form.instagram(size=10, class_='form-control', placeholder="Link to your Instagram profile") }}
        </div>

        <div class="socialinput">
            {{ form.linkedin(size=10, class_='form-control', placeholder="Link to your LinkedIn profile") }}

        </div>

        <div class="socialinput">
            {{ form.snapchat(size=10, class_='form-control', placeholder="Link to your Snapchat profile") }}

        </div>

        <div class="socialinput">
            {{ form.reddit(size=10, class_='form-control', placeholder="Link to your Reddit profile") }}

        </div>

        <div class="socialinput">
            {{ form.mastodon(size=10, class_='form-control', placeholder="Link to your Mastodon profile") }}

        </div>

        <div class="socialinput">
            {{ form.tiktok(size=10, class_='form-control', placeholder="Link to your T profile") }}

        </div>
        
        <div class="socialbutton">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
        
    </form>


</div>  


{% endblock %}
