{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>Share your social links:</h1>
    <h4>Make it easy for people to find you.</h4>
</div>

<div class="social-form">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="socialinput">
            {{ form.facebook.label (class_='form-label') }} <br> 
            {{ form.facebook(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.twitter.label (class_='form-label') }} <br> 
            {{ form.twitter(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.instagram.label (class_='form-label') }} <br> 
            {{ form.instagram(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.linkedin.label (class_='form-label')}} <br> 
            {{ form.linkedin(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.snapchat.label (class_='form-label') }} <br> 
            {{ form.snapchat(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.reddit.label (class_='form-label') }} <br> 
            {{ form.reddit(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.mastodon.label (class_='form-label') }} <br> 
            {{ form.mastodon(size=10, class_='form-control') }}

        </div>

        <div class="socialinput">
            {{ form.tiktok.label (class_='form-label') }} <br> 
            {{ form.tiktok(size=10, class_='form-control') }}

        </div>
        
        <div class="socialbutton">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
        
    </form>


</div>  


{% endblock %}
