{% extends "base.html" %}

{% block content %}

<h1>Help us make this reunion one to remember!</h1>
<br>

  <h2>🛠️ There is lots to be done!</h2>
  There is tons of ways you can help make this reunion a success. Here are some suggestions but feel free to reach out if you have an other ideas!

  <br>
  <br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Design a platform to help collect contact details of graduates.
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Organise the event
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Design a logo for the event
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Invite other people to the platform <span class="badge-light">Do this through the site</span>
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Collect some blast-from-the-past material (photos, videos, songs, etc...)
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Scan the Bac book
  </label>
</div>
<br>
  <a class="btn btn-primary" href="#" role="button">Get in touch</a>
<br>
<br>

{% endblock %}