{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>Guest management</h1> 
</div>
<br>

<br>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <table >
    <tbody>
        <tr>
            <td class="guesttable"> 
                <p>
                    {{ form.guestname.label (class_='form-label')}} <br> 
                    {{ form.guestname(size=10, class_='form-control')}}
                </p>
            </td>
            <td class="guesttable">
                <p>
                    {{ form.section.label (class_='form-label')}} <br> 
                    {{ form.section(class_='form-select')}}
                </p>
            </td> 
            <td class="guesttable">
                <p>{{ form.submit(class_='btn btn-primary') }}</p>
            </td>
        </tr>
    </tbody>
</table>
{% for error in form.guestname.errors %}
<span class="alert alert-danger alert-form">[{{ error }}]</span>{% endfor %}

<br>

</form>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Guest</th>
        <th>Section</th>
        <th>Email</th>
        <th>Registered</th>
        <th>RSVP'ed</th>
        <th></th>
    </tr>

{% for guest in guests %}
    {% include '_guests.html' %}
{% endfor %}

</table>

{% endblock %}