{% extends "base.html" %}

{% block content %}
<div class="title">
  <h1>It's been nearly 20 years <br>since we graduated from the EEB2! 🤯</h1>
  <h4>
  Join us as we reminisce about old times, catch up with old friends, and celebrate all that we've accomplished since graduation. Let's make this reunion one to remember.</h4>
  <div class="buttons-home">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Get started</a>
    <br>
    <br>
</div>

<div class="homepage-images">
  <img class="homepage-image-1" src="https://dummyimage.com/600x800/c2c2c2/fff.jpg&text=placeholder+image">
  <img class="homepage-image-2" src="https://dummyimage.com/600x800/c2c2c2/fff.jpg&text=placeholder+image">
  <img class="homepage-image-3" src="https://dummyimage.com/600x800/c2c2c2/fff.jpg&text=placeholder+image">
  <img class="homepage-image-4" src="https://dummyimage.com/600x800/c2c2c2/fff.jpg&text=placeholder+image">
</div>
  
<div class="homepage-band">
  <div class="band-content"> 
    <div class="band-title">
      <h2>Be part of the celebrations</h2>
      
    </div>
    <div class="band-stats">
      <h3>{{ guestcount }}</h3>
      <p>graduated in 2005.</p> 
    </div>

    <div class="band-stats">
      <h3>{{ usercount }}</h3>
      <p>have registered here. </p> 
    </div>

    <div class="band-stats">
      <h3>{{ rsvpcount }}</h3>
      <p>have RSVP'ed. </p> 
    </div>
  </div>

<!-- TODO: This need review when mobile optimizing -->

</div>

</div>
<div class="container homepage-about">
  <div class="row align-items-start">
    <div class="col-5">
      <img src="https://dummyimage.com/600x600/c2c2c2/fff.jpg&text=placeholder+image" width="100%">
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <h2>Welcome!</h2>
      <h4>Welcome to the EEB2 '05 Reunion website, dedicated to organizing the 20 year reunion for our high school graduation! This platform provides a one-stop-shop for all reunion-related activities, including event planning, communication, and RSVPs.</h4>

      <ul class="list">
        <li class="tick">Stay up to date with the latest event details.</li>
        <li class="tick">Reconnect with previous classmates.</li>
        <li class="tick">RSVP to event & buy your ticket.</li>
        <li class="tick">Join the WhatsApp group.</li>
        <li class="tick">Help with the organisation</li>
      </ul>
  
      <br>
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>

    </div>
  </div>
</div>

<hr style="border-top: dotted 1px;" />
<br>
<div class="container homepage-help">
  <div class="row align-items-start">
    <div class="col-6">
      <br>
      <h2>Get involved!</h2>
      <h4>There are tons of ways you can help make this reunion a success. Here are a few of the things we need a hand with. Get in touch if you have a bit of time to spare or if you have any other ideas on making this a great event!</h4>

      <ul class="list">
        <li class="unchecked">Design a platform to help get people together. <span class="badge rounded-pill text-bg-info">In progress</span></li>
        <li class="unchecked">Organise the event.</li>
        <li class="unchecked">Design a logo for the event.</li>
        <li class="unchecked">Collect photos from back then.</li>
        <li class="unchecked">Scan the BacBook.</li>
      </ul>
      <br>  
      <a class="btn btn-primary btn-lg" href="#" role="button">Get in touch</a>
   
<!-- TODO: Create contact page -->

    </div>

    <div class="col-1">
    </div>
    
    <div class="col-5">
      <img src="https://dummyimage.com/600x600/c2c2c2/fff.jpg&text=placeholder+image" width="100%">
    </div>
  </div>
</div>


<div class="homepage-spread">
  <div class="spread-content">
    <div class="spread-title">
      <h2>Help spread the word</h2>
      <h4>We've all lost touch with each other over the years. Getting people to register on the site is the first step to getting us all back together. Here are some ways you can help us do that:</h4>
    </div>
    <div class="table-ways">
      <div class="spread-ways float-left">
        ☎️ Pick up the phone or send a text message to the people you're still in touch with.
      </div>

      <div class="spread-ways float-right">
        🗒️ Check the "<a href="{{ url_for('reconnect') }}">Reconnect</a>" section, in your member's area, to see who we're missing.
      </div>

      <div class="spread-ways no-bottom-line float-left">
        🖥️ Try searching the myriad of social media out there; Facebook, Instagram, LinkedIn, Twitter, TikTok, Mastodon (perhaps?)...
      </div>

      <div class="spread-ways no-bottom-line float-right">
        📣 The good old word-to-mouth. Surely you're still in touch with some of your high-school friends?
      </div>

    </div>
  </div>

<!-- TODO: This need review when mobile optimizing -->

</div>

<div class="container homepage-whatsapp">
  <div class="row align-items-start">
    <div class="col-5">
      <img src="https://dummyimage.com/600x600/c2c2c2/fff.jpg&text=placeholder+image" width="100%">
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <h2>Get the conversation going!</h2>
      <h4>There is a WhatsApp group set up and you're welcome to join it! </h4>
      <div class=" pushup">
        <a href="#" class="whatsapp"> <p>Join the WhatsApp group &ensp;</p></a>
        <a href="#" class="float-left"><img src="/static/whatsapp.png" width="50px"></a>
        <!-- TODO: Add whatsapp link -->
      </div>
      <br>
      <p style="clear: left;"></p>
      <br>
      <br>
      
      <h4>Or share this page with your network:</h4>

      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_64 a2a_default_style share-icons">
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_linkedin"></a>
      <a class="a2a_button_snapchat"></a>
      <a class="a2a_button_mastodon"></a>
      <a class="a2a_button_myspace"></a>
      <a class="a2a_button_whatsapp"></a>
      <a class="a2a_button_facebook_messenger"></a>
      <a class="a2a_button_telegram"></a>
      <a class="a2a_button_viber"></a>
      <a class="a2a_button_email"></a>
      <a class="a2a_button_sms"></a>
      </div>
      <script>
      var a2a_config = a2a_config || {};
      a2a_config.num_services = 6;
      </script>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->



    </div>
  </div>
</div>


{% endblock %}
