{% extends "base.html" %}

{% block content %}

<h1>It's been nearly 20 years <br>since we graduated from the EEB2! 🤯</h1>
<br>
Welcome to the EEB2 '05 Reunion website, dedicated to organizing the 20 year reunion for our high school graduation!
<br>
This platform provides a one-stop-shop for all reunion-related activities, including event planning, communication, and RSVPs.<br>
Join us as we reminisce about old times, catch up with old friends, and celebrate all that we've accomplished since graduation. Let's make this reunion one to remember!
<br>
<br>

<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
<img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col-8">
      <b>Through this site, you will be able to: </b>
<br>
&emsp;✅ Find out details about the event.
<br>
&emsp;✅ Join the WhatsApp group.
<br>
&emsp;✅ Volunteer to help with the organisation.
<br>
&emsp;✅ RSVP to the event. <span class="badge-light">Requires an account</span>
<br>
&emsp;✅ Check who else has RSVP'd. <span class="badge-light">Requires an account</span>
<br>
&emsp;✅ Help identify the missing guests and invite them to the platform. <span class="  badge-light">Requires an account</span>
<br>
&emsp;✅ Invite people who did not graduate in 2015, but were still part of the school life. <span class="  badge-light">Requires an account</span>
<br>
&emsp;☑️ Reconnect with previous classmates. <span class="  badge-light">Requires an account</span> <span class="  badge-light">Coming later</span>
<br>
&emsp;☑️ Buy a ticket to the event. <span class="  badge-light">Requires an account</span> <span class="  badge-light">Coming later</span>

    </div>
</div></div>

<br>
<hr style="border-top: dotted 1px;" />

<br>
<h2>📊 Stats</h2>
Some numbers around where we are at:
<br>
<br>

  <div class="container text-center">
      <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>254</h3>
                    people identified from the Bac book.
                </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>156</h3>
                people registered to the site.
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>76</h3>
                people have RSVP'ed.
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>32</h3>
                extra-guests have been invited (teachers, other pupils,...).
            </div>
        </div>
      </div>
  </div>
</div>
<br>
<hr style="border-top: dotted 1px;" />
<br>
<h2>📣 Spread the word</h2>
There are tons of ways you can share the word. <br><br>The easiest one is to sign up to the site, fill in your details and add the email addresses of the people you are still in touch with on the platform. <br>You can easily see who's details we're missing!
<br>
<br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
  </div>
  <br>
  <div class="row align-items-start">
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
  </div>
</div>


<br>
<br>
Share this page on social media:
<br>
- Facebook
<br>
- Instagram
<br>
- Snapchat
<br>
- Twitter
<br>
- Whatsapp
<br>
- LinkedIn
<br>
- TikTok
<br>
- Mastodon
<br>

<br>
<hr style="border-top: dotted 1px;" />
<br>

<h2>💬 Join the WhatsApp group</h2>
There is a whatsapp group set up and you're welcome to join it! <br><br>
  <a class="btn btn-primary" href="#" role="button">Join the WhatsApp group</a>
<br>
<br>


{% endblock %}