{% extends "base.html" %}

{% block content %}

<h1>Nearly 20 years ago!</h1>

Welcome to the EEB2 '05 Reunion website, dedicated to organizing the 20 year reunion for our high school graduation!
<br>
This platform provides a one-stop-shop for all reunion-related activities, including event planning, communication, and RSVPs.<br>
Join us as we reminisce about old times, catch up with old friends, and celebrate all that we've accomplished since graduation. Let's make this reunion one to remember!
<br>
<br>

<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
<img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col-8">
      <b>Through this site, you will be able to: </b>
<br>
&emsp;✅ Find out details about the event.
<br>
&emsp;✅ Join the WhatsApp group.
<br>
&emsp;✅ Volunteer to help with the organisation.
<br>
&emsp;✅ RSVP to the event. <span class="badge-light">Requires an account</span>
<br>
&emsp;✅ Check who else has RSVP'd. <span class="badge-light">Requires an account</span>
<br>
&emsp;✅ Help identify the missing guests and invite them to the platform. <span class="  badge-light">Requires an account</span>
<br>
&emsp;✅ Invite people who did not graduate in 2015, but were still part of the school life. <span class="  badge-light">Requires an account</span>
<br>
&emsp;☑️ Reconnect with previous classmates. <span class="  badge-light">Requires an account</span> <span class="  badge-light">Coming later</span>
<br>
&emsp;☑️ Buy a ticket to the event. <span class="  badge-light">Requires an account</span> <span class="  badge-light">Coming later</span>

    </div>
</div></div>

<br>
<hr style="border-top: dotted 1px;" />
<br>
<h2>🥳 About</h2>
Details about the event will be made available here.
<br>
In the meantime, we're looking for people who are willing to give a hand in organising it!
  <br>
  <a class="btn btn-primary" href="#" role="button">Help with the organisation</a>
  <br>
  <br>
<div class="container">
      <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Event details</h3>
                    <b>When?</b> TBC<br>
<b>Where?</b> TBC<br>
<b>How?</b> TBC<br>
<b>Why?</b> TBC<br>
<b>Program?</b> TBC<br>
                </div>
            </div>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
  </div>
</div>
  <br>

<h4>FAQ</h4>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
  <br>

<hr style="border-top: dotted 1px;" />
<br>
  <h2>🛠️ Get involved</h2>
  There is tons of ways you can help make this reunion a success. Here are some suggestions but feel free to reach out if you have an other ideas!

  <br>
  <br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Design a platform to help collect contact details of graduates.
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Organise the event
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Design a logo for the event
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Invite other people to the platform <span class="badge-light">Do this through the site</span>
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Collect some blast-from-the-past material (photos, videos, songs, etc...)
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Scan the Bac book
  </label>
</div>
<br>
  <a class="btn btn-primary" href="#" role="button">Get in touch</a>
<br>
<br>
<hr style="border-top: dotted 1px;" />
<br>
<h2>📊 Stats</h2>
Some numbers around where we are at:
<br>
<br>

  <div class="container text-center">
      <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>254</h3>
                    people identified from the Bac book.
                </div>
            </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>156</h3>
                people registered to the site.
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>76</h3>
                people have RSVP'ed.
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>32</h3>
                extra-guests have been invited (teachers, other pupils,...).
            </div>
        </div>
      </div>
  </div>
</div>
<br>
<hr style="border-top: dotted 1px;" />
<br>
<h2>📣 Spread the word</h2>
There are tons of ways you can share the word. <br><br>The easiest one is to sign up to the site, fill in your details and add the email addresses of the people you are still in touch with on the platform. <br>You can easily see who's details we're missing!
<br>
<br>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
  </div>
  <br>
  <div class="row align-items-start">
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
    <div class="col">
      <img src="https://dummyimage.com/800x600/1e1e1e/fff.gif" width="100%">
    </div>
  </div>
</div>


<br>
<br>
Share this page on social media:
<br>
- Facebook
<br>
- Instagram
<br>
- Snapchat
<br>
- Twitter
<br>
- Whatsapp
<br>
- LinkedIn
<br>
- TikTok
<br>
- Mastodon
<br>

<br>
<hr style="border-top: dotted 1px;" />
<br>

<h2>💬 Join the WhatsApp group</h2>
There is a whatsapp group set up and you're welcome to join it! <br><br>
  <a class="btn btn-primary" href="#" role="button">Join the WhatsApp group</a>
<br>
<br>


{% endblock %}