{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>Reset your password</h1>
    <h4>Write it down somewhere.</h4>
</div>

<div class="login-form">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label(class_='form-label') }}<br>
            {{ form.password(size=32, class_='form-control') }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class_='form-label') }}<br>
            {{ form.password2(size=32, class_='form-control') }}<br>
            {% for error in form.password2.errors %}
            <span class="alert alert-danger alert-form">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_='btn btn-primary') }}</p>
        
    </form>
{% endblock %}