{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>RSVP management</h1>
</div>
<br>
<br>


<table id="rsvpmanagementtable" class="table table-striped">
  <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Section</th>
        <th>Email</th>
        <th>Location</th>
        <th>Role</th>
        <th>RSVP'ed</th>
        <th>Administration</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        {% include '_usersrsvp.html' %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#rsvpmanagementtable').DataTable({
        columns: [
          {orderable: false, searchable: false},
          null,
          null,
          null,
          null,
          null,
          null,
          {orderable: false, searchable: false}],
      });
    });
  </script>
{% endblock %}