{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>Section management</h1>
</div>
<br>
<br>

<form action="" method="post" novalidate >

    {{ form.hidden_tag() }} 
    <table>
        <tbody>
            <tr>
                <td class="guesttable"> 
                    {{ form.sectioninput(size=5, class_='form-control', placeholder='New section') }}
                </td>
                <td class="guesttable">
                    {{ form.submit(class_='btn btn-primary') }}
                </td>
            </tr>
        </tbody>
    </table>

    {% for error in form.sectioninput.errors %}
    <span class="alert alert-danger alert-form">[{{ error }}]</span> 
    {% endfor %}
</form>
<br>

<table id="section-management-table" class="table table-striped"> 
  <thead>
    <tr>
        <th>Section</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {% for section in sections %}
        {% include '_sections.html' %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#section-management-table').DataTable({
        columns: [
          null,
          {orderable: false, searchable: false}],
      });
    });
  </script>
{% endblock %}