{% extends "base.html" %}

{% block content %}

<h1>Section management</h1>
<br>

<form action="" method="post" novalidate class="addsection">
    {{ form.hidden_tag() }}
    <p>
        {{ form.sectioninput.label }} {{ form.sectioninput(size=5)}}<br>
        {% for error in form.sectioninput.errors %}
        <span class="errormessageform" style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<table class="table">
    <tr>
        <th>Section</th>
        <th></th>
    </tr>

{% for section in sections %}
    {% include '_sections.html' %}
{% endfor %}

</table>

{% endblock %}