{% extends "base.html" %}

{% block content %}

<div class="title">
    <h1>What's your name?</h1>
    <h4>Find your name in the list.</h4>
</div>

<div class="login-form">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        
        {{ form.nameselect(class_='form-select')}}
        <br>
        {{ form.submit(class_='btn btn-primary') }}

        {% for error in form.nameselect.errors %}
        
        <span class="alert alert-danger alert-form">[{{ error }}]</span>
        {% endfor %}
    </form>

    <br>
    
    <div class="alert alert-info" role="alert">
      Can't find your name in the list? <a href="#">Get in touch</a>.
      <!-- TODO: Change the link to the contact page -->
    </div>

</div>  


{% endblock %}
