{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>Which section were you in?</h1>
    <h4>You should remember this one...</h4>
</div>

<div class="login-form">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.sectionselect(class_='form-select')}}
        <br>
        {{ form.submit(class_='btn btn-primary') }}
        
        {% for error in form.sectionselect.errors %}
        
        <span class="alert alert-danger alert-form">[{{ error }}]</span>
        {% endfor %}
    </form>

</div>  

{% endblock %}
